doctype html
html
  head
    block title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#app
    block content
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/vue.min.js')
    block scripts